.input-form {
  border-radius: 40px;
}

/* input background -------------------- */
.form {
  width: 70vw;
  height: 11.5vw;
  /* min-height: 85px; */
  max-height: 105px;
  background-color: #040007;
  background-image: url(./woven-light.png);

  border-radius: 10px;
}

#myBtn {
  font-size: 1.7em;
  font-style: italic;
  font-family: "Lato", sans-serif;
  color: #10dcb2;

  border-radius: 8px;
  margin-left: 0.5em;
}
