.input-form {
  border-radius: 40px;
}

/* input background -------------------- */
.form {
  width: 70vw;
  height: 11.5vw;
  background-color: #040007;
  background-image: url(./woven-light.png);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
/* url("https://www.transparenttextures.com/patterns/woven-light.png") */
