/* .Tilt {
  background-color: rgba(39, 39, 39, 0.9);
} */
.Tilt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #7d56ff00;
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
  transform-style: preserve-3d;
}

.Tilt-inner {
  transform: translateZ(200px);
  /* font-size: 100px; */
}
