/* nav text */
.nav-font {
  cursor: pointer;
  font-size: calc(12px + 1.5vmin);
  font-style: italic;
  font-family: "Lato", sans-serif;
  color: #10dcb2;

  padding-left: 3.7vmin;
  margin: 9px 0px 14px 0px;
  /* dim */
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.nav-font:hover {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

/* nav bar */
.nav {
  background-color: rgba(39, 39, 39, 0.95);
  padding-right: 3.7vmin;
}
