// {
//   "extends": ["react-app", "plugin:prettier/recommended"]
// }

{
  "extends": ["react-app", "prettier"],
  "rules": {
    "prettier/prettier": ["error", { "jsxBracketSameLine": true }]
  },
  "plugins": ["prettier"]
}
