body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", "Courier", "monospace", "Roboto";
  background: linear-gradient(
    to right,
    rgb(127, 133, 235) 0%,
    rgb(31, 151, 231) 50%,
    rgb(38, 207, 216) 100%
  );
}

/* <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
  <div class="mdc-linear-progress__buffering-dots">
  </div>
  <div class="mdc-linear-progress__buffer">
  </div>
  <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
    <span class="mdc-linear-progress__bar-inner"></span>
    <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
      <span class="mdc-linear-progress__bar-inner"></span>
    </div>
  </div>
</div> */
